<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title>Productos</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <table class="table ">
        <thead>
        <tr>
            <th>Email</th>
            <th>Id</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="producto : ${entidades}">

            <td th:text="${producto.getNombre()}"></td>
            <td><a th:href="@{'/admin/productos/' + ${producto.id}}"><button type="button" class="btn btn-primary">Editar</button></a></td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
    </table>
</div>
</body>
</html>