<!-- Start Section -->
<section class="container py-5" th:fragment="aboutEquipo">
  <div class="row text-center pt-5 pb-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Nuestro Equipo</h1>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center">
          <img src="../../static/img/luis.jpg" class="rounded mx-auto d-block">
        </div>
        <h2 class="h5 mt-4 text-center">Luis Arques</h2>
        <p class="mt-4 text-center">
          Manchego y periodista frustrado apasionado de los deportes.
          Conoció el mundo de la programación tras 5 años trabajando en Reino Unido,
          comprometido con el desarrollo continuo, decidió dar un giro a su carrera profesional
          y se sumergió en la programación primero por su cuenta, luego en un Bootcamp de Full Stack
          y ahora fortaleciendo y ampliando sus conocimientos en el mundo Java. Acostumbrado a
          trabajar en equipo en ambientes ágiles y multiculturales, es persistente y siempre
          intenta mantener una actitud positiva.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center">
          <img src="../../static/img/celia.png" class="rounded mx-auto d-block">
        </div>
        <h2 class="h5 mt-4 text-center">Celia Feria</h2>
        <p class="mt-4 text-center">
          Biotecnóloga de Huelva especializada en bioinformática y genética,
          con prácticas en varios centros de investigación como el Centro Andaluz de Biología
          del Desarrollo o el Centro de Tecnología Biomédica de Madrid. Desde que programó por
          primera vez en C++ sabía que quería saber de este ámbito. Actualmente tiene conocimiento
          de varios lenguajes de programación R, Python, Ruby uniéndose Java con este curso.
          Tiene pensamiento analítico, es cooperativa, diligente y atenta.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center">
          <img src="../../static/img/anna.jpg" class="rounded mx-auto d-block">
        </div>
        <h2 class="h5 mt-4 text-center">Anna María Sicilia</h2>
        <p class="mt-4 text-center">
          Es de Palma de Mallorca, graduada en Estudios Italianos,
          con un Máster en Bibliotecas, Archivos y Continuidad Digital y las prácticas en el Real Madrid TV.
          Es una desarrolladora Java y documentalista especializada en la optimización,
          estructuración y recuperación de información. Es persistente, metódica y servicial.
          La pasión por la programación ha surgido a raíz de ver las posibilidades que ofrece para
          aportar soluciones prácticas e intuitivas y facilitar el día a día de la gente.
          Además, se ha casado a principios de este año.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center">
          <img src="../../static/img/fran.jpg" class="rounded mx-auto d-block">
        </div>
        <h2 class="h5 mt-4 text-center">Francisco Villalba</h2>
        <p class="mt-4 text-center">
          Comenzó su carrera en Diseño de Interiores, pero su verdadera pasión
          siempre fue la programación. Esta transición le permitió combinar
          creatividad con habilidades técnicas, destacándose en el desarrollo de software.
          Inicialmente, se formó intensamente en programación Java Web y luego en JavaScript.
          Ahora es un desarrollador Java con conocimientos en tecnologías y metodologías como Spring,
          Bootstrap, Hibernate y Scrum. Su enfoque es crear soluciones robustas y eficientes,
          siempre buscando innovar y mantener alta calidad en el código.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->