<section class="bg-success py-5" th:fragment="bannerAboutUs">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>¡Bienvenidos a ChicCloset!</h1>
                <p class="text-justify">
                    En ChicCloset, creemos que la moda es una expresión personal única y poderosa.
                    Nuestra misión es ofrecerte una selección cuidadosamente curada de prendas y accesorios
                    que no solo sigan las últimas tendencias, sino que también te permitan crear tu propio
                    estilo distintivo.
                </p>
            </div>
            <div class="col-md-4">
                <img
                        src="../img/about.png"
                        alt="about"
                        width="350px"
                        height="350px"
                />
            </div>
        </div>
    </div>
</section>