<section class="bg-success py-5" th:fragment="bannerAboutUs">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1 th:text="#{meetourteam}">Conoce a Nuestro Equipo</h1>
                <p class="text-justify" th:text="#{bannerservicestext}">
                    ChicCloset nació como la colaboración conjunta de cuatro jóvenes profesionales dando sus primeros pasos en el mundo de la programación,
                    volcando todos sus conocimientos en el desarrollo de una página de compra de ropa online. Cada uno de los miembros de nuestro
                    equipo aporta una visión única, compuesta de diversos trasfondos laborales y formativos, las cuales una vez puestas en común
                    crean una experiencia profesional mayor que la suma de sus partes.
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>