<div class="container" th:fragment="formularioEnvio">
  <h2 th:text="#{shippingdetails}">Detalles Envio</h2>
  <form th:action="@{/ventas/datosFacturacion}" method="post">
    <div class="form-group mb-1">
      <label for="name" th:text="#{name}">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" th:placeholder="#{enteryourname}" required>
    </div>
    <br>
    <div class="form-group">
      <label for="email" th:text="#{login.email}">Email</label>
      <input type="email" class="form-control" id="email" name="email" th:placeholder="#{enteryouremail}" required>
    </div>
    <br>
      <div class="form-group">
        <label for="tel" th:text="#{phonenumber}">Teléfono</label>
        <input type="tel" class="form-control" id="tel" name="tel" th:placeholder="#{enteryourphone}" required>
      </div>
    <br>
    <div class="form-group">
      <label for="country" th:text="#{country}">País</label>
      <select id="country" name="country" class="form-control" required>
        <option value="" disabled selected th:text="#{selectcountry}">Seleccione un país</option>
        <option th:text="#{spain1}">España</option>
        <option th:text="#{germany1}">Alemania</option>
        <option th:text="#{france1}">Francia</option>
        <option th:text="#{italy1}">Italia</option>
        <option th:text="#{unitedkingdom1}">Reino Unido</option>
        <option th:text="#{russia1}">Rusia</option>
        <option th:text="#{ukraine1}">Ucrania</option>
        <option th:text="#{poland1}">Polonia</option>
        <option th:text="#{romania1}">Rumania</option>
        <option th:text="#{netherlands1}">Países Bajos</option>
        <option th:text="#{belgium1}">Bélgica</option>
        <option th:text="#{greece1}">Grecia</option>
        <option th:text="#{portugal1}">Portugal</option>
        <option th:text="#{sweden1}">Suecia</option>
        <option th:text="#{norway1}">Noruega</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="city" th:text="#{city}">Ciudad</label>
      <input type="text" class="form-control" id="city" name="city" th:placeholder="#{selectcity}" required>
    </div>
    <br>
    <div class="form-group">
      <label for="address" th:text="#{address}">Dirección</label>
      <input type="text" class="form-control" id="address" name="address" th:placeholder="#{enteryouraddress}" required>
    </div>
    <br>
    <input type="hidden" name="idcarrito" th:value="${idcarrito}">
    <button type="submit" class="btn btn-success" style="margin-top: 20px" th:text="#{next}">Siguiente Paso</button>
  </form>
</div>