<section class="listaProductos py-5" th:fragment="listaProductos">
    <div class="container px-4 px-lg-5 mt-5">
        <!-- Seleccionar el color  y talla -->
        <form th:action="@{/productos}" method="get" class="filter-form mb-4" onsubmit="resetPage()">
            <div class="mb-2">
                <select class="form-select" name="color">
                    <option th:selected="${colorSeleccionado == null}" th:text="#{selectcolour}">Seleccione un color</option>
                    <option th:each="color : ${colores}" th:value="${color}" th:text="${color}" th:selected="${colorSeleccionado == color}"></option>
                </select>
            </div>
            <div class=" mb-2">
                <select class="form-select" name="talla">
                    <option th:selected="${tallaSeleccionada == null}" th:text="#{selectsize}">Seleccione una talla</option>
                    <option th:each="talla : ${tallas}" th:value="${talla}" th:text="${talla}" th:selected="${tallaSeleccionada == talla}"></option>
                </select>
            </div>
            <div class="mb-2">
                <input type="hidden" id="page-input" name="pagina" th:value="${numeroPaginaActual}"/>
                <button class="btn btn-success" type="submit" th:text="#{filter}">Filtrar</button>
            </div>
        </form>
        <!---->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="producto : ${paginaProductos.content}" class="col mb-5">
                <a th:href="@{'/productos/' + ${producto.id}}" style="text-decoration: none; color: black;">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top img-fluid" th:src="${producto.fotoUrl}" alt="Imagen del producto"
                             style="height: 300px; object-fit: cover;"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${producto.nombre}"></h5>
                                <!-- Product price-->
                                <h5 th:text="${producto.precio} + ' ' + '€'"></h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a th:if="${numeroPaginaActual > 0}" th:href="@{productos(pagina=${numeroPaginaActual - 1}, color=${colorSeleccionado}, talla=${tallaSeleccionada})}">
        <button class="btn btn-success me-2" th:text="#{previouspage}"
                >Anterior</button></a>

        <a  th:if="${paginaProductos.hasNext()}" th:href="@{productos(pagina=${numeroPaginaActual + 1}, color=${colorSeleccionado}, talla=${tallaSeleccionada})}">
            <button class="btn btn-success" th:text="#{nextpage}"
            >Siguiente
            </button>
        </a>

    </div>
</section>