<section class="listaProductos py-5" th:fragment="listaProductos">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="producto : ${productos}" class="col mb-5">
                <a th:href="@{'/productos/' + ${producto.id}}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top img-fluid" th:src="${producto.fotoUrl}" alt="Imagen del producto"
                             style="height: 300px; object-fit: cover;"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${producto.nombre}"></h5>
                                <!-- Product price-->
                                <h5 th:text="${producto.precio}"></h5>
                                <div class="card-body">
                                    <form action="/addcarrito" method="post">
                                        <input type="hidden" name="id" th:value=${producto.id}/>
                                        <input type="number" name="quantity" class="form-control"/>
                                        <input type="submit" class="form-control"/>
                                <button type="submit" class="btn btn-primary">Añadir al carrito</button></div></form>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>