<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title>Pagos</title>
</head>

	<body class="about">

		<div th:replace="fragments/header :: header">...</div>
		<section class="bg-success py-5">
			<div class="container">
				<div class="row align-items-center py-5">
					<div class="col-md-8 text-white">
						<h1>Acerca de Nosotros</h1>
						<p class="text-justify">
							En nuestra TiendaOnline, nos apasiona la moda y estamos
							comprometidos a ofrecerte una experiencia de compra en línea
							excepcional. Nuestra tienda online nace del deseo de proporcionar
							ropa de calidad, estilos innovadores y una experiencia de compra
							personalizada, todo al alcance de un clic.
						</p>
					</div>
					<div class="col-md-4">
						<img
							src="../img/about.png"
							alt="about"
							width="350px"
							height="350px"
						/>
					</div>
				</div>
			</div>
		</section>
		<!-- Close Banner -->

		<!-- Start Section -->
		<section class="container py-5">
			<div class="row text-center pt-5 pb-3">
				<div class="col-lg-6 m-auto">
					<h1 class="h1">Nuestros Servicios</h1>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 pb-5">
					<div class="h-100 py-5 services-icon-wap shadow">
						<div class="h1 text-success text-center">
							<i class="fa fa-truck fa-lg"></i>
						</div>
						<h2 class="h5 mt-4 text-center">Servicio de Envio</h2>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 pb-5">
					<div class="h-100 py-5 services-icon-wap shadow">
						<div class="h1 text-success text-center">
							<i class="fas fa-exchange-alt"></i>
						</div>
						<h2 class="h5 mt-4 text-center">Compra y Vende</h2>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 pb-5">
					<div class="h-100 py-5 services-icon-wap shadow">
						<div class="h1 text-success text-center">
							<i class="fa fa-percent"></i>
						</div>
						<h2 class="h5 mt-4 text-center">Promociones</h2>
					</div>
				</div>

				<div class="col-md-6 col-lg-3 pb-5">
					<div class="h-100 py-5 services-icon-wap shadow">
						<div class="h1 text-success text-center">
							<i class="fa fa-user"></i>
						</div>
						<h2 class="h5 mt-4 text-center">Servicio 24 horas</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- End Section -->

		<!-- Start Brands -->
		<section class="bg-light py-5">
			<div class="container my-4">
				<div class="row text-center py-3">
					<div class="col-lg-6 m-auto">
						<h1 class="h1">Nuestras Marcas</h1>
						<p>
							Prendas de alta calidad accesibles para todos. Creemos que cada
							persona merece verse y sentirse bien, sin importar su estilo,
							presupuesto o ubicación.
						</p>
					</div>
					<div class="col-lg-9 m-auto tempaltemo-carousel">
						<div class="row d-flex flex-row">
							<!--Controls-->
							<div class="col-1 align-self-center">
								<a
									class="h1"
									href="#templatemo-slide-brand"
									role="button"
									data-bs-slide="prev"
								>
									<i class="text-light fas fa-chevron-left"></i>
								</a>
							</div>
							<!--End Controls-->

							<!--Carousel Wrapper-->
							<div class="col">
								<div
									class="carousel slide carousel-multi-item pt-2 pt-md-0"
									id="templatemo-slide-brand"
									data-bs-ride="carousel"
								>
									<!--Slides-->
									<div class="carousel-inner product-links-wap" role="listbox">
										<!--First slide-->
										<div class="carousel-item active">
											<div class="row">
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_01.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_02.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_03.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_04.png"
															alt="Brand Logo"
													/></a>
												</div>
											</div>
										</div>
										<!--End First slide-->

										<!--Second slide-->
										<div class="carousel-item">
											<div class="row">
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_01.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_02.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_03.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_04.png"
															alt="Brand Logo"
													/></a>
												</div>
											</div>
										</div>
										<!--End Second slide-->

										<!--Third slide-->
										<div class="carousel-item">
											<div class="row">
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_01.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_02.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_03.png"
															alt="Brand Logo"
													/></a>
												</div>
												<div class="col-3 p-md-5">
													<a href="#"
														><img
															class="img-fluid brand-img"
															src="../img/brand_04.png"
															alt="Brand Logo"
													/></a>
												</div>
											</div>
										</div>
										<!--End Third slide-->
									</div>
									<!--End Slides-->
								</div>
							</div>
							<!--End Carousel Wrapper-->

							<!--Controls-->
							<div class="col-1 align-self-center">
								<a
									class="h1"
									href="#templatemo-slide-brand"
									role="button"
									data-bs-slide="next"
								>
									<i class="text-light fas fa-chevron-right"></i>
								</a>
							</div>
							<!--End Controls-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End Brands-->

		<div th:replace="fragments/footer :: footer">...</div>

		<!-- Start Script -->
		<script src="../js/jquery-1.11.0.min.js"></script>
		<script src="../js/jquery-migrate-1.2.1.min.js"></script>
		<script src="../js/bootstrap.bundle.min.js"></script>
		<script src="../js/templatemo.js"></script>
		<script src="../js/custom.js"></script>
		<!-- End Script -->
	</body>
</html>
