<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js "
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n "
			crossorigin="anonymous "
		></script>
		<title>Carrito</title>
		<link rel="stylesheet" type="text/css" href="Carrito.css" />
		<link rel="apple-touch-icon" href="../../assets/img/apple-icon.png" />

		<link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/css/templatemo.css" />
		<link rel="stylesheet" href="../../assets/css/custom.css" />

		<!-- Load fonts style after rendering the layout styles -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
		/>
		<link rel="stylesheet" href="../../assets/css/fontawesome.min.css" />
	</head>

	<body>
		<!-- Start Top Nav -->
		<nav
			class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
			id="templatemo_nav_top"
		>
			<div class="container text-light">
				<div class="w-100 d-flex justify-content-between">
					<div>
						<i class="fa fa-envelope mx-2"></i>
						<a
							class="navbar-sm-brand text-light text-decoration-none"
							href="mailto:ayudacliente@tiendaonline.com"
							>ayudacliente@tiendaonline.com</a
						>
						<i class="fa fa-phone mx-2"></i>
						<a
							class="navbar-sm-brand text-light text-decoration-none"
							href="tel: 123 456 789"
							>123 456 789</a
						>
					</div>
					<div>
						<a
							class="text-light"
							href="https://fb.com/templatemo"
							target="_blank"
							rel="sponsored"
							><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
						></a>
						<a
							class="text-light"
							href="https://www.instagram.com/"
							target="_blank"
							><i class="fab fa-instagram fa-sm fa-fw me-2"></i
						></a>
						<a class="text-light" href="https://twitter.com/" target="_blank"
							><i class="fab fa-twitter fa-sm fa-fw me-2"></i
						></a>
						<a
							class="text-light"
							href="https://www.linkedin.com/"
							target="_blank"
							><i class="fab fa-linkedin fa-sm fa-fw"></i
						></a>
					</div>
				</div>
			</div>
		</nav>
		<!-- Close Top Nav -->

		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light shadow">
			<div class="container d-flex justify-content-between align-items-center">
				<a
					class="navbar-brand text-success logo h1 align-self-center"
					href="../../index.html"
				>
					TiendaOnline
				</a>

				<button
					class="navbar-toggler border-0"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#templatemo_main_nav"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
					id="templatemo_main_nav"
				>
					<div class="flex-fill">
						<ul
							class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
						>
							<li class="nav-item">
								<a class="nav-link" href="../../index.html">Página Principal</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="../About/about.html"
									>Acerca de Nosotros</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:63342/TiendaRopa/PantallasProyecto/index.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE">Tienda</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contacto</a>
							</li>
						</ul>
					</div>
					<div class="navbar align-self-center d-flex">
						<div
							class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
						>
							<div class="input-group">
								<input
									type="text"
									class="form-control"
									id="inputMobileSearch"
									placeholder="Search ..."
								/>
								<div class="input-group-text">
									<i class="fa fa-fw fa-search"></i>
								</div>
							</div>
						</div>
						<a
							class="nav-icon d-none d-lg-inline"
							href="#"
							data-bs-toggle="modal"
							data-bs-target="#templatemo_search"
						>
							<i class="fa fa-fw fa-search text-dark mr-2"></i>
						</a>
						<a class="nav-icon position-relative text-decoration-none" href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Carrito/Carrito.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE">
							<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
							<span
								class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
							></span>
						</a>
						<a class="nav-icon position-relative text-decoration-none" href="../Info/Info.html">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
							<span
								class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
								></span
							>
						</a>
						<button><a href="#">Login</a></button>
						<button><a href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Login/Login_user.html?_ijt=leq91jmerbfg3gk6ful5lu1ig0&_ij_reload=RELOAD_ON_SAVE">Register</a></button>
					</div>
				</div>
			</div>
		</nav>
		<!-- Close Header -->

		<!-- Código del Carrito -->

		<div class="container">
			<div class="tab-content">
				<div class="tab-pane active" id="step1">
					<div class="row text-center">
						<div class="col-sm col-12">
							<div class="alert alert-primary bg-alert-bg" role="alert">
								Introduzca sus datos
							</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">Pago</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">Resumen</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<div class="accordion" id="accordionExample">
											<div class="card border-0">
												<div
													class="card-header d-flex justify-content-between"
													id="headingOne"
												>
													<h2 class="mb-0">
														<button
															id="turnbf"
															class="btn btn-link d-flex turnaf clps"
															type="button"
															data-toggle="collapse"
															data-target="#collapseOne"
															aria-expanded="true"
															aria-controls="collapseOne"
														>
															<p class="clps-btn-style">
																Productos seleccionados
															</p>
															<span class="mx-1"
																><i class="far fa-chevron-double-down"></i
															></span>
														</button>
													</h2>
													<span class="my-2 text-danger h4">100€</span>
												</div>
												<div
													id="collapseOne"
													class="collapse show"
													aria-labelledby="headingOne"
													data-parent="#accordionExample"
												>
													<div class="card-body p-0">
														<div>
															<table class="table table-sm">
																<thead>
																	<tr class="ml-3">
																		<th></th>
																		<th></th>
																		<th class="text-left" width="50%">
																			Producto
																		</th>
																		<th class="text-center" width="45%">
																			Cantidad
																		</th>
																		<th>Subtotal</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td class="align-middle text-center">
																			<a
																				href="#delete"
																				data-toggle="modal"
																				data-title="Delete your product ?"
																			>
																				<i class="fal fa-trash-alt"></i>
																			</a>
																		</td>
																		<td>
																			<div
																				class="rounded"
																				style="
																					background-image: url(https://unsplash.com/photos/ZBwQ2bCbJjw/download?force=true&w=640);
																					width: 60px;
																					height: 60px;
																					background-size: cover;
																				"
																			></div>
																		</td>
																		<td class="align-middle text-left">
																			Traje
																		</td>
																		<td class="align-middle text-center">1</td>
																		<td class="align-middle text-right">50€</td>
																	</tr>
																	<tr>
																		<td class="align-middle text-center">
																			<a
																				href="#delete"
																				data-toggle="modal"
																				data-title="Delete your product ?"
																			>
																				<i class="fal fa-trash-alt"></i>
																			</a>
																		</td>
																		<td>
																			<div
																				class="rounded"
																				style="
																					background-image: url(https://unsplash.com/photos/vOwj38HFrJ1/download?force=true&w=640);
																					width: 60px;
																					height: 60px;
																					background-size: cover;
																				"
																			></div>
																		</td>
																		<td class="align-middle text-left">
																			Pañuelo
																		</td>
																		<td class="align-middle text-center">1</td>
																		<td class="align-middle text-right">30€</td>
																	</tr>
																	<tr>
																		<td class="align-middle text-center">
																			<a
																				href="#delete"
																				data-toggle="modal"
																				data-title="Delete your product ?"
																			>
																				<i class="fal fa-trash-alt"></i>
																			</a>
																		</td>
																		<td>
																			<div
																				class="rounded"
																				style="
																					background-image: url(https://unsplash.com/photos/FxraOMAkLOs/download?force=true&w=640);
																					width: 60px;
																					height: 60px;
																					background-size: cover;
																					background-position: center center;
																				"
																			></div>
																		</td>
																		<td class="align-middle text-left">
																			Botas
																		</td>
																		<td class="align-middle text-center">1</td>
																		<td class="align-middle text-right">20€</td>
																	</tr>
																	<tr>
																		<td
																			colspan="4"
																			class="align-middle text-right"
																		>
																			Total
																		</td>
																		<td class="align-middle text-right">100</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<div
													class="alert alert-secondary border-0 h4 text-center bg-alert rounded-0"
													role="alert"
												>
													Información de envío
												</div>
												<form class="needs-validation" novalidate>
													<div class="form-row">
														<div class="col-md-4 mb-3">
															<label for="name">Nombre</label>
															<input
																type="text"
																class="form-control space"
																id="name"
																placeholder="Introduzca su nombre"
																required
															/>
															<div class="valid-feedback">Formato correcto</div>
															<div class="invalid-feedback">
																Por favor, introduzca su nombre
															</div>
														</div>
														<div class="col-md-4 mb-3">
															<label for="email">Email</label>
															<input
																type="text"
																class="form-control space"
																id="email"
																placeholder="Introduzca su email"
																required
															/>
															<div class="valid-feedback">Formato correcto</div>
															<div class="invalid-feedback">
																Por favor, introduzca su email
															</div>
														</div>
														<div class="col-md-4 mb-3">
															<label for="tel">Teléfono</label>
															<input
																type="tel"
																class="form-control space"
																id="email"
																placeholder="Introduzca su teléfono"
																required
															/>
															<div class="valid-feedback">Formato correcto</div>
															<div class="invalid-feedback">
																Por favor, introduzca su teléfono
															</div>
														</div>
													</div>
													<div class="form-row">
														<div class="col-md-4 mb-3">
															<label for="country">País</label>
															<select
																class="form-control"
																id="country . . ."
																required
															>
																<option>España</option>
																<option>Italia</option>
																<option>Alemania</option>
																<option>Francia</option>
															</select>
															<div class="invalid-feedback">
																Seleccione un país
															</div>
														</div>
														<div class="col-md-4 mb-3">
															<label for="city">Ciudad</label>
															<input
																type="text"
																class="form-control space"
																id="city"
																placeholder="Indique su ciudad"
																required
															/>
															<div class="valid-feedback">Formato correcto</div>
															<div class="invalid-feedback">
																Por favor, introduzca su ciudad
															</div>
														</div>
														<div class="col-md-12 mb-3">
															<label for="address">Dirección</label>
															<input
																type="text"
																class="form-control space"
																id="address"
																placeholder="Introduzca su dirección"
																required
															/>
															<div class="valid-feedback">Formato correcto</div>
															<div class="invalid-feedback">
																Por favor, indique su dirección
															</div>
														</div>
													</div>
													<div class="d-flex justify-content-center">
														<button class="btn btn-primary" type="submit">
															Revise su información de envío
														</button>
													</div>
												</form>
												<div
													class="list-group mt-5 p-0 justify-content-center"
													id="allList"
													role="tablist"
													style="flex-direction: row"
												>
													<a
														href="#step2"
														class="list-group-item-dark w-35 py-2 rounded text-center btns"
														data-toggle="list"
														role="tab"
													>
														Siguiente paso
														<i class="fal fa-arrow-circle-right"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="step2">
					<div class="row text-center">
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">
								Introduzca sus datos
							</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-primary bg-alert-bg" role="alert">
								Pago
							</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">Resumen</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-12">
											<div class="card my-5 text-center border-0">
												<div class="card-header bg-transparent" id="card">
													<ul class="nav nav-tabs card-header-tabs">
														<li class="nav-item">
															<a
																class="nav-link active"
																href="#act1"
																data-toggle="tab"
																role="tab"
															>
																<p class="card-bg h6">Tarjeta</p>
															</a>
														</li>
														<li class="nav-item">
															<a
																class="nav-link"
																href="#act2"
																data-toggle="tab"
																role="tab"
															>
																<p class="card-bg h6">Bizum</p>
															</a>
														</li>
													</ul>
												</div>
												<div class="tab-content">
													<div class="tab-pane active" id="act1">
														<div
															class="card-body border border-top-0 rounded-bottom"
														>
															<div class="d-sm-flex justify-content-around">
																<i class="fab fa-cc-visa fa-7x icons"></i>
																<i class="fab fa-cc-mastercard fa-7x icons"></i>
																<i class="fab fa-cc-paypal fa-7x icons"></i>
																<i class="fab fa-cc-jcb fa-7x icons"></i>
															</div>
															<h5 class="card-title mt-2">Seleccione una</h5>
														</div>
													</div>
													<div class="tab-pane" id="act2">
														<div
															class="card-body border border-top-0 rounded-bottom"
														>
															<form
																action=""
																class="d-sm-flex justify-content-around"
															>
																<p>
																	Se le enviará el pago a su número de teléfono
																</p>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="card-details">
										<h2>Detalles de la tarjeta</h2>
										<form id="card-form">
											<label for="card-number">Número de Tarjeta:</label>
											<input
												type="text"
												id="card-number"
												name="card-number"
												class="form-control"
											/><br />
											<label for="card-holder">Nombre del Titular:</label>
											<input
												type="text"
												id="card-holder"
												name="card-holder"
												class="form-control"
											/><br />
											<label for="expiry-date">Fecha de Expiración:</label>
											<input
												type="text"
												id="expiry-date"
												name="expiry-date"
												class="form-control"
												placeholder="MM/AA"
											/><br />
											<label for="cvv">CVV:</label>
											<input
												type="text"
												id="cvv"
												name="cvv"
												class="form-control"
											/><br />
											<button type="submit" class="btn btn-primary">
												Enviar
											</button>
										</form>
									</div>
									<div
										class="list-group my-5 p-0 justify-content-center"
										id="allList"
										role="tablist"
										style="flex-direction: row"
									>
										<a
											href="#step1"
											class="list-group-item-dark mr-3 w-35 px-0 py-2 rounded text-center btns"
											data-toggle="list"
											role="tab"
										>
											<i class="fal fa-arrow-circle-left"></i> Anterior
										</a>
										<a
											href="#step3"
											class="list-group-item-dark ml-3 w-35 px-0 py-2 rounded text-center btns"
											data-toggle="list"
											role="tab"
										>
											Siguiente <i class="fal fa-arrow-circle-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="step3">
					<div class="row text-center">
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">
								Introduzca sus datos
							</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-secondary" role="alert">Pago</div>
						</div>
						<div class="col-sm col-12">
							<div class="alert alert-success bg-alert-bg" role="alert">
								Resumen
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<h2 class="text-center my-3">Pedido</h2>
										<div>
											<table class="table table-sm">
												<thead>
													<tr class="ml-3">
														<th></th>
														<th class="text-left" width="50%">Productos</th>
														<th class="text-center" width="45%">Cantidad</th>
														<th>Subtotal</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div
																class="rounded"
																style="
																	background-image: url(https://unsplash.com/photos/ZBwQ2bCbJjw/download?force=true&w=640);
																	width: 60px;
																	height: 60px;
																	background-size: cover;
																"
															></div>
														</td>
														<td class="align-middle text-left">Traje</td>
														<td class="align-middle text-center">1</td>
														<td class="align-middle text-right">50€</td>
													</tr>
													<tr>
														<td>
															<div
																class="rounded"
																style="
																	background-image: url(https://unsplash.com/photos/vOwj38HFrJ0/download?force=true&w=640);
																	width: 60px;
																	height: 60px;
																	background-size: cover;
																"
															></div>
														</td>
														<td class="align-middle text-left">Pañuelo</td>
														<td class="align-middle text-center">1</td>
														<td class="align-middle text-right">30€</td>
													</tr>
													<tr>
														<td>
															<div
																class="rounded"
																style="
																	background-image: url(https://unsplash.com/photos/FxraOMAkLOs/download?force=true&w=640);
																	width: 60px;
																	height: 60px;
																	background-size: cover;
																	background-position: center center;
																"
															></div>
														</td>
														<td class="align-middle text-left">Botas</td>
														<td class="align-middle text-center">1</td>
														<td class="align-middle text-right">20€</td>
													</tr>
													<tr>
														<td colspan="3" class="align-middle text-right">
															Total
														</td>
														<td class="align-middle text-right">100€</td>
													</tr>
												</tbody>
											</table>
										</div>
										<h2 class="text-center my-3">Datos</h2>
										<div class="">
											<table class="table table-sm">
												<tbody>
													<tr>
														<td width="35%" class="align-middle text-left">
															Nombre
														</td>
														<td class="text-left">Alick</td>
													</tr>
													<tr>
														<td class="align-middle text-left">Teléfono</td>
														<td class="align-middle text-left">988635467</td>
													</tr>
													<tr>
														<td class="align-middle text-left">Email</td>
														<td class="align-middle text-left">
															noidnwd@gmail.com
														</td>
													</tr>
													<tr>
														<td class="align-middle text-left">Dirección</td>
														<td class="align-middle text-left">calle 123</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div
									class="list-group mt-5 p-0 mb-3 justify-content-center"
									id="allList"
									role="tablist"
									style="flex-direction: row"
								>
									<a
										href="#step1"
										class="list-group-item-dark ml-3 w-35 py-2 rounded text-center btns home"
										data-toggle="list"
										role="tab"
									>
										<i class="fas fa-home"></i> Inicio
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal start-->
		<div
			class="modal fade"
			id="delete"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bgd-danger border-bottom-0">
						<h5 class="modal-title text-white" id="exampleModalLabel">
							New message
						</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body bg-dark text-white">
						This is a demo so don't have any items .
					</div>
					<div class="modal-footer bg-dark btn-change">
						<button type="button" class="btn btn-n" data-dismiss="modal">
							No
						</button>
						<button type="button" class="btn btn-y" data-dismiss="modal">
							Yes
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- delete modal end-->
		<script>
			(function () {
				'use strict';
				window.addEventListener(
					'load',
					function () {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(
							forms,
							function (form) {
								form.addEventListener(
									'submit',
									function (event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									},
									false
								);
							}
						);
					},
					false
				);
			})();
			var btns = document.querySelector('.home');
			btns.addEventListener(
				'click',
				function () {
					alert('Thank for your order !');
				},
				false
			);
			$(document).ready(function () {
				$('#delete').on('show.bs.modal', function (event) {
					var button = $(event.relatedTarget);
					var item = button.data('title');
					var modal = $(this);
					modal.find('.modal-title').text(item);
				});
				$(function () {
					$('#allList').tab('show');
				});
				$(function () {
					$('#card').tab('show');
				});
				$('.icons').click(function () {
					$(this).toggleClass('iconck').siblings().removeClass('iconck');
				});
				$('#turnbf').click(function () {
					$('#turnbf span').addClass('turn');
				});
				$('.turnaf').click(function () {
					$('.turnaf span').toggleClass('turnb');
				});
			});
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script>
			document.querySelectorAll('.icons').forEach((icon) => {
				icon.addEventListener('click', () => {
					const cardType = icon.getAttribute('data-card-type');
					document.getElementById('card-details').style.display = 'block';
					console.log(`Selected card type: ${cardType}`);
				});
			});
		</script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
			crossorigin="anonymous "
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 "
			crossorigin="anonymous "
		></script>

		<!-- Start Footer -->
		<footer class="bg-dark" id="tempaltemo_footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 pt-5">
						<h2 class="h2 text-success border-bottom pb-3 border-light logo">
							TiendaOnline
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li>
								<i class="fas fa-map-marker-alt fa-fw"></i>
								Madrid, España
							</li>
							<li>
								<i class="fa fa-phone fa-fw"></i>
								<a class="text-decoration-none" href="tel:010-020-0340"
									>123 456 789</a
								>
							</li>
							<li>
								<i class="fa fa-envelope fa-fw"></i>
								<a class="text-decoration-none" href="mailto:info@company.com"
									>ayudacliente@tiendaonline.com</a
								>
							</li>
						</ul>
					</div>

					<div class="col-md-4 pt-5">
						<h2 class="h2 text-light border-bottom pb-3 border-light">
							Productos
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li><a class="text-decoration-none" href="#">Ropa Hombre</a></li>
							<li><a class="text-decoration-none" href="#">Ropa Mujer</a></li>
							<li><a class="text-decoration-none" href="#">Ropa NIños</a></li>
							<li>
								<a class="text-decoration-none" href="#">Ropa Interior</a>
							</li>
							<li>
								<a class="text-decoration-none" href="#">Zapatos Deportivos</a>
							</li>
							<li><a class="text-decoration-none" href="#">Vaqueros</a></li>
							<li><a class="text-decoration-none" href="#">Abrigos</a></li>
						</ul>
					</div>

					<div class="col-md-4 pt-5">
						<h2 class="h2 text-light border-bottom pb-3 border-light">
							Info Adicional
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li>
								<a class="text-decoration-none" href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Inicio/Inicio.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE">Página Principal</a>
							</li>
							<li>
								<a class="text-decoration-none" href="#">Acerca de Nosotros</a>
							</li>
							<li><a class="text-decoration-none" href="#">FAQs</a></li>
							<li><a class="text-decoration-none" href="#">Contáctanos</a></li>
						</ul>
					</div>
				</div>

				<div class="row text-light mb-4">
					<div class="col-12 mb-3">
						<div class="w-100 my-3 border-top border-light"></div>
					</div>
					<div class="col-auto me-auto">
						<ul class="list-inline text-left footer-icons">
							<li
								class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
									rel="nofollow"
									class="text-light text-decoration-none"
									target="_blank"
									href="http://fb.com/templatemo"
									><i class="fab fa-facebook-f fa-lg fa-fw"></i
								></a>
							</li>
							<li
								class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
									class="text-light text-decoration-none"
									target="_blank"
									href="https://www.instagram.com/"
									><i class="fab fa-instagram fa-lg fa-fw"></i
								></a>
							</li>
							<li
								class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
									class="text-light text-decoration-none"
									target="_blank"
									href="https://twitter.com/"
									><i class="fab fa-twitter fa-lg fa-fw"></i
								></a>
							</li>
							<li
								class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
									class="text-light text-decoration-none"
									target="_blank"
									href="https://www.linkedin.com/"
									><i class="fab fa-linkedin fa-lg fa-fw"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="col-auto">
						<label class="sr-only" for="subscribeEmail"
							>Dirección de Correo</label
						>
						<div class="input-group mb-2">
							<input
								type="text"
								class="form-control bg-white border-light"
								id="subscribeEmail"
								placeholder="Dirección de Correo"
							/>
							<div class="input-group-text btn-success text-light">
								Suscribirse
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w-100 bg-black py-3">
				<div class="container">
					<div class="row pt-2">
						<div class="col-12">
							<p class="text-left text-light">
								Copyright &copy; 2024 TiendaOnline | Diseñado por
								<a
									rel="sponsored"
									href="https://github.com/CeliaFeria/TiendaRopa"
									target="_blank"
									>Grupo 2</a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<!-- Start Script -->
		<script src="assets/js/jquery-1.11.0.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/templatemo.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- End Script -->
	</body>
</html>
