<!doctype html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title>Carrito</title>

    <style>
        .product-image {
            width: 60px;
            height: 60px;
            background-size: cover;
            background-position: center center;
        }
        .product-row {
            margin-bottom: 10px;
        }
        .total-price {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .delete-icon {
            color: red;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productoCarrito : ${productos}">
                        <td class="align-middle text-center">
                            <a th:href="@{/removeProductoCarrito/{id}(id=${productoCarrito.id})}" class="delete-icon">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>
                            <div class="product-image" th:style="'background-image: url(' + ${productoCarrito.producto.fotoUrl} + ')'"></div>
                        </td>
                        <td class="align-middle text-left" th:text="${productoCarrito.producto.nombre}"></td>
                        <td class="align-middle text-center" th:text="${productoCarrito.quantity}"></td>
                        <td class="align-middle text-right" th:text="${productoCarrito.producto.precio * productoCarrito.quantity + '€'}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between mt-3">
                    <span class="text-danger h4 total-price" th:text="${carrito.precio}">0€</span>
                    <a href="#" th:href="@{/clearCarrito}" class="btn btn-danger">Vaciar carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


