<!doctype html>
<html layout:decorate="~{layout/layoutHSinMargen}" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
	<title th:text="'Detalles del Producto - ' + ${producto.nombre}"></title>
</head>
<body>
<div layout:fragment="content">
<section class="bg-light">
	<div class="container pb-5">
		<div class="row">

			<!-- Imagen del Producto -->
			<div class="col-lg-5 mt-5">
				<div class="card mb-3">
					<img class="card-img img-fluid" th:src="${producto.fotoUrl}" alt="Imagen del producto"/>
				</div>

			</div>

			<!-- Detalles del Producto -->
			<div class="col-lg-7 mt-5">
				<div class="card">
					<div class="card-body text-center">
						<h1 class="h2" th:text="${producto.nombre}"></h1>
						<p class="h3 py-2" th:text="${producto.precio}"></p>
						<p th:text="${producto.descripcion}"></p>
					</div>
				</div>

				<!-- Especificaciones -->
				<div class="card mt-4">
					<div class="card-body">
						<h5>Especificaciones</h5>
						<ul class="list-unstyled">
							<li th:text="'Proveedor: ' + ${producto.proveedor}"></li>
							<li th:text="'Material: ' + ${producto.material}"></li>
							<li th:text="'Color: ' + ${producto.color}"></li>
						</ul>
					</div>
				</div>

				<br>

                <form th:action="@{/addToCarrito}" method="post">
                    <input type="hidden" name="id" th:value="${producto.id}"/>
                    <input type="number" name="cantidad" class="form-control" value="1" min="1"/> <!-- Valor predeterminado de 1 -->
					<p></p>
                    <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                </form>

			</div>
		</div>
	</div>
</section>
</div>
<script>
	document.getElementById('addToCartButton').addEventListener('click', function() {
		var productId = this.getAttribute('data-id');
		fetch('/carrito/agregar', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRF-TOKEN': /* Thymeleaf syntax for CSRF token */ [[${_csrf.token}]]
			},
			body: JSON.stringify({ id: productId })
		})
				.then(response => response.json())
				.then(data => {
					if(data.success) {
						alert('Producto agregado al carrito exitosamente');
					} else {
						alert('Hubo un problema al agregar el producto al carrito');
					}
				})
				.catch(error => {
					console.error('Error:', error);
					alert('Hubo un problema al agregar el producto al carrito');
				});
	});
</script>

</body>
</html>
