<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title th:text="'Detalles del Producto - ' + ${producto.nombre}"></title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<section class="bg-light">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-5 mt-5">
				<div class="card mb-3">
					<img class="card-img img-fluid" th:src="${producto.fotoUrl}" alt="Imagen del producto"/>
				</div>
			</div>
			<div class="col-lg-7 mt-5">
				<div class="card">
					<div class="card-body">
						<h1 class="h2" th:text="${producto.nombre}">Nombre del Producto</h1>
						<p class="h3 py-2" th:text="${producto.precio}">$0.00</p>
						<p th:text="${producto.descripcion}">Descripción del Producto</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
