<!DOCTYPE html>
<html layout:decorate="~{layout/layoutHSinMargen}" xmlns:th="http://www.thymeleaf.org/"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
</head>
<body>
     <div layout:fragment="content">
        <h2>Tus Facturas</h2>
        <div class="invoices">
            <div class="invoice">
                <h3>Factura #54209</h3>
                <p>Fecha: 31-07-2024</p>
                <p>Total: 100,00 €</p>
                <a href="#" class="btn">Descargar</a>
            </div>
            <div class="invoice">
                <h3>Factura #93848</h3>
                <p>Fecha: 31-07-2024</p>
                <p>Total: 50,00 €</p>
                <a href="#" class="btn">Descargar</a>
            </div>
            <div class="invoice">
                <h3>Factura #09123</h3>
                <p>Fecha: 31-07-2024</p>
                <p>Total: 35,00 €</p>
                <a href="#" class="btn">Descargar</a>
            </div>
            <div class="invoice">
                <h3>Factura #87234</h3>
                <p>Fecha: 31-07-2024</p>
                <p>Total: 15,98 €</p>
                <a href="#" class="btn">Descargar</a>
            </div>
        </div>
    </div>
</body>
</html>