<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Página inicial</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="apple-touch-icon" href="../../assets/img/apple-icon.png" />

		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/templatemo.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />

		<!-- Load fonts style after rendering the layout styles -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
		/>
		<link rel="stylesheet" href="assets/css/fontawesome.min.css" />
	</head>
	<body>
		<!-- Start Top Nav -->
		<nav
				class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
				id="templatemo_nav_top"
		>
			<div class="container text-light">
				<div class="w-100 d-flex justify-content-between">
					<div>
						<i class="fa fa-envelope mx-2"></i>
						<a
								class="navbar-sm-brand text-light text-decoration-none"
								href="mailto:ayudacliente@tiendaonline.com"
						>ayudacliente@tiendaonline.com</a
						>
						<i class="fa fa-phone mx-2"></i>
						<a
								class="navbar-sm-brand text-light text-decoration-none"
								href="tel: 123 456 789"
						>123 456 789</a
						>
					</div>
					<div>
						<a
								class="text-light"
								href="https://fb.com/templatemo"
								target="_blank"
								rel="sponsored"
						><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
						></a>
						<a
								class="text-light"
								href="https://www.instagram.com/"
								target="_blank"
						><i class="fab fa-instagram fa-sm fa-fw me-2"></i
						></a>
						<a class="text-light" href="https://twitter.com/" target="_blank"
						><i class="fab fa-twitter fa-sm fa-fw me-2"></i
						></a>
						<a
								class="text-light"
								href="https://www.linkedin.com/"
								target="_blank"
						><i class="fab fa-linkedin fa-sm fa-fw"></i
						></a>
					</div>
				</div>
			</div>
		</nav>
		<!-- Close Top Nav -->

		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light shadow">
			<div class="container d-flex justify-content-between align-items-center">
				<a
						class="navbar-brand text-success logo h1 align-self-center"
						href="../../index.html"
				>
					TiendaOnline
				</a>

				<button
						class="navbar-toggler border-0"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#templatemo_main_nav"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
						class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
						id="templatemo_main_nav"
				>
					<div class="flex-fill">
						<ul
								class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
						>
							<li class="nav-item">
								<a class="nav-link" href="../../index.html">Página Principal</a>
							</li>
							<li class="nav-item">
								<a
										class="nav-link"
										href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/About/about.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE"
								>Acerca de Nosotros</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:63342/TiendaRopa/PantallasProyecto/index.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE">Tienda</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contacto</a>
							</li>
						</ul>
					</div>
					<div class="navbar align-self-center d-flex">
						<div
								class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
						>
							<div class="input-group">
								<input
										type="text"
										class="form-control"
										id="inputMobileSearch"
										placeholder="Search ..."
								/>
								<div class="input-group-text">
									<i class="fa fa-fw fa-search"></i>
								</div>
							</div>
						</div>
						<a
								class="nav-icon d-none d-lg-inline"
								href="#"
								data-bs-toggle="modal"
								data-bs-target="#templatemo_search"
						>
							<i class="fa fa-fw fa-search text-dark mr-2"></i>
						</a>
						<a
								class="nav-icon position-relative text-decoration-none"
								href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Carrito/Carrito.html?_ijt=oejs8d5p4g8kaq6c5f4g0f7io&_ij_reload=RELOAD_ON_SAVE"
						>
							<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
							<span
									class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
							></span>
						</a>
						<a class="nav-icon position-relative text-decoration-none" href="pages/Info/Info.html">
							<i class="fa fa-fw fa-user text-dark mr-3"></i>
							<span
									class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
							></span
							>
						</a>
						<button><a href="#">Login</a></button>
						<button><a href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Login/Login_user.html?_ijt=leq91jmerbfg3gk6ful5lu1ig0&_ij_reload=RELOAD_ON_SAVE">Register</a></button>
					</div>
				</div>
			</div>
		</nav>
		<!-- Close Header -->
		<!-- Open About Header-->
		<header class="bg-dark py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="text-center text-white">
					<h1 class="display-4 fw-bolder">Estilo a la moda</h1>
					<p class="lead fw-normal text-white-50 mb-0">Lorem ipsum de moda</p>
				</div>
			</div>
		</header>
		<!-- Close About Header-->
		<!-- Open Products-->
		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Fancy Product</h5>
									<!-- Product price-->
									40.00€ - 80.00€
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Sale badge-->
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Special Item</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>
									<!-- Product price-->
									<span class="text-muted text-decoration-line-through">€20.00</span>
									€18.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Sale badge-->
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Sale Item</h5>
									<!-- Product price-->
									<span class="text-muted text-decoration-line-through">€50.00</span>
									€25.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Popular Item</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>
									<!-- Product price-->
									€40.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Sale badge-->
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Sale Item</h5>
									<!-- Product price-->
									<span class="text-muted text-decoration-line-through">€50.00</span>
									€25.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Fancy Product</h5>
									<!-- Product price-->
									€120.00 - €280.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Sale badge-->
							<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Special Item</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>
									<!-- Product price-->
									<span class="text-muted text-decoration-line-through">€20.00</span>
									€18.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">Popular Item</h5>
									<!-- Product reviews-->
									<div class="d-flex justify-content-center small text-warning mb-2">
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
										<div class="bi-star-fill"></div>
									</div>
									<!-- Product price-->
									€40.00
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Close Products -->
		<!-- Start Footer -->
		<footer class="bg-dark" id="tempaltemo_footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 pt-5">
						<h2 class="h2 text-success border-bottom pb-3 border-light logo">
							TiendaOnline
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li>
								<i class="fas fa-map-marker-alt fa-fw"></i>
								Madrid, España
							</li>
							<li>
								<i class="fa fa-phone fa-fw"></i>
								<a class="text-decoration-none" href="tel:010-020-0340"
								>123 456 789</a
								>
							</li>
							<li>
								<i class="fa fa-envelope fa-fw"></i>
								<a class="text-decoration-none" href="mailto:info@company.com"
								>ayudacliente@tiendaonline.com</a
								>
							</li>
						</ul>
					</div>

					<div class="col-md-4 pt-5">
						<h2 class="h2 text-light border-bottom pb-3 border-light">
							Productos
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li><a class="text-decoration-none" href="#">Ropa Hombre</a></li>
							<li><a class="text-decoration-none" href="#">Ropa Mujer</a></li>
							<li><a class="text-decoration-none" href="#">Ropa NIños</a></li>
							<li>
								<a class="text-decoration-none" href="#">Ropa Interior</a>
							</li>
							<li>
								<a class="text-decoration-none" href="#">Zapatos Deportivos</a>
							</li>
							<li><a class="text-decoration-none" href="#">Vaqueros</a></li>
							<li><a class="text-decoration-none" href="#">Abrigos</a></li>
						</ul>
					</div>

					<div class="col-md-4 pt-5">
						<h2 class="h2 text-light border-bottom pb-3 border-light">
							Info Adicional
						</h2>
						<ul class="list-unstyled text-light footer-link-list">
							<li>
								<a class="text-decoration-none" href="#">Página Principal</a>
							</li>
							<li>
								<a class="text-decoration-none" href="">Acerca de Nosotros</a>
							</li>
							<li><a class="text-decoration-none" href="http://localhost:63342/TiendaRopa/PantallasProyecto/pages/Preguntas_Frecuentes/preguntas_frecuentes.html?_ijt=vtvcekmr2jbs98mr6ujnp24t4q&_ij_reload=RELOAD_ON_SAVE">FAQs</a></li>
							<li><a class="text-decoration-none" href="#">Contáctanos</a></li>
						</ul>
					</div>
				</div>

				<div class="row text-light mb-4">
					<div class="col-12 mb-3">
						<div class="w-100 my-3 border-top border-light"></div>
					</div>
					<div class="col-auto me-auto">
						<ul class="list-inline text-left footer-icons">
							<li
									class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
										rel="nofollow"
										class="text-light text-decoration-none"
										target="_blank"
										href="http://fb.com/templatemo"
								><i class="fab fa-facebook-f fa-lg fa-fw"></i
								></a>
							</li>
							<li
									class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
										class="text-light text-decoration-none"
										target="_blank"
										href="https://www.instagram.com/"
								><i class="fab fa-instagram fa-lg fa-fw"></i
								></a>
							</li>
							<li
									class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
										class="text-light text-decoration-none"
										target="_blank"
										href="https://twitter.com/"
								><i class="fab fa-twitter fa-lg fa-fw"></i
								></a>
							</li>
							<li
									class="list-inline-item border border-light rounded-circle text-center"
							>
								<a
										class="text-light text-decoration-none"
										target="_blank"
										href="https://www.linkedin.com/"
								><i class="fab fa-linkedin fa-lg fa-fw"></i
								></a>
							</li>
						</ul>
					</div>
					<div class="col-auto">
						<label class="sr-only" for="subscribeEmail"
						>Dirección de Correo</label
						>
						<div class="input-group mb-2">
							<input
									type="text"
									class="form-control bg-white border-light"
									id="subscribeEmail"
									placeholder="Dirección de Correo"
							/>
							<div class="input-group-text btn-success text-light">
								Suscribirse
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w-100 bg-black py-3">
				<div class="container">
					<div class="row pt-2">
						<div class="col-12">
							<p class="text-left text-light">
								Copyright &copy; 2024 TiendaOnline | Diseñado por
								<a
										rel="sponsored"
										href="https://github.com/CeliaFeria/TiendaRopa"
										target="_blank"
								>Grupo 2</a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->
		<!-- Start Script -->
		<script src="assets/js/jquery-1.11.0.min.js"></script>
		<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		<script src="assets/js/templatemo.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- End Script -->
	</body>
</html>
