<!doctype html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title th:text="#{login.tittle}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/formularioLogin :: formularioLogin}"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace(window.location.pathname + '?lang=' + selectedOption);
                }
            });
        });
    </script>
</div>
</body>
</html>
