<!doctype html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title th:text="#{titulo.login}">placeholder</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{mensaje.login}"></h1>
    <div th:replace="~{fragments/formularioLogin :: formularioLogin}"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('login?lang=' + selectedOption);
                }
            });
        });
    </script>
</div>
</body>
</html>