<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

<meta charset="UTF-8">

    <title>Pagos</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<h1>Aquí irá una lista de pagos</h1>
<div class="container">
    <table class="table ">
        <thead>
        <tr>
            <th>Email</th>
            <th>Id</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="pago : ${pagos}">

            <td th:text="${pago.getId()}"></td>
            <td th:text="${pago.fechaPago}"></td>
            <td th:text="${pago.getTotal()}"></td>
            <td><button type="button" class="btn btn-primary">Editar</button></td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>