<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <head th:replace="fragments/head :: head">
        <title>Registro Satisfactorio</title>
        <meta charset="UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container fade-in">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>Registro Satisfactorio</h2>
                </div>
                <div class="card-body text-center">
                    <p class="mb-4">¡Gracias por registrarte! Tu cuenta ha sido creada con éxito.</p>
                    <a href="/usuario/login" class="btn btn-primary btn-lg">Ir a Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mete efecto  -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<div th:replace="fragments/footer :: footer">...</div>
<!-- Start Script -->
<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/templatemo.js"></script>
<script src="../js/custom.js"></script>
<!-- End Script -->
</body>
</html>
