<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/head :: head">
    <meta charset="UTF-8" />
        <title>Registro</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <h1>Registro</h1>
    <form th:action="@{/usuarios/registro}" th:object="${usuario}" method="post">
       <!-- <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required/>
        </div>  -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required/>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" th:field="*{contraseña}" required/>
        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 20px">Registrar</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer">...</div>
<!-- Start Script -->
<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/templatemo.js"></script>
<script src="../js/custom.js"></script>
<!-- End Script -->
</body>
</html>

