<!doctype html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <title>Usuarios</title>
</head>
<body>
<div layout:fragment="content">
<h1>Aquí irá una lista de usuarios</h1>
<div class="container">
    <table class="table ">
        <thead>
        <tr>
            <th>Email</th>
            <th>Id</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.contraseña}"></td>
            <td>
                <button type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>