<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/head :: head">
        <title>Usuarios</title>
        <meta charset="UTF-8"/>
    </head>
<body>
<div th:replace="fragments/header :: header">...</div>
<h1>Aquí irá una lista de usuarios</h1>
<div class="container">
    <table class="table ">
        <thead>
        <tr>
            <th>Email</th>
            <th>Id</th>
            <th>Contraseña</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.contraseña}"></td>
            <td>
                <button type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer">...</div>
<!-- Start Script -->
<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/templatemo.js"></script>
<script src="../js/custom.js"></script>
<!-- End Script -->
</body>
</html>